<div class="side-nav" #sidenav>
  <div class="logo-container">
    <img class="logo" src="assets/img/logo-slim.png" alt="logo" />
    <span class="title">Serenity</span>
    <img class="logo enabled" src="assets/img/logo-slim.png" alt="logo" />
  </div>
  <div class="navigation">
    <ul>
      <li>
        <a href="#" class="active"
          >Dashboard
          <i class="pi pi-home"></i>
        </a>
      </li>
      <li>
        <a href="#"
          >Components
          <i class="pi pi-list"></i>
        </a>
      </li>
      <li>
        <a href="#"
          >Template Pages
          <i class="pi pi-download"></i>
        </a>
      </li>
      <li>
        <a href="#"
          >Menu Hierarchy
          <i class="pi pi-bars"></i>
        </a>
      </li>
      <li>
        <a href="#"
          >Utils
          <i class="pi pi-cog"></i>
        </a>
      </li>
      <li>
        <a href="#"
          >Docs
          <i class="pi pi-file-o"></i>
        </a>
      </li>
    </ul>
  </div>
</div>
